.layout {
    min-height: 100vh;

    /* position: fixed;
    z-index: 9999;
    top: -29px;
    left: 16px;
    right: 16px;
    bottom: 16px;
    pointer-events: none; */
}

.layoutbody {
   position: relative;
  
}
.children{
    padding-top:60px; 
    padding-left:256px
}


@media only screen and (max-width: 1200px) {
    .children{
        padding-top:60px; 
        padding-left:256px
    }
   
}