.reportcard{
  color: #262626;
  font-size: 14px;
    display:block;
    justify-content: space-between;
    gap:1rem;
    background-color: white;
    padding: 1rem 1.5rem;
    line-height: 2;
    margin-bottom: 0.3rem;
}