.table {
    width: 100%;
    overflow-x: scroll;
}

.tabledata {
    width: 100%;
    font-size: 14px;
    color: #7F8FA4;
    line-height: 21px;
    letter-spacing: 0.14px;
    text-align: left;
    font-weight: 300;
    background-color: #ffffff;
}

.tableheader {
    background-color: #EAEEF0;
    line-height: 40px;
    font-weight: 400;
    padding: 0.2rem 1rem;
}

.tablebody {
    line-height: 40px;
    background-color: #ffffff;
    padding: 0 1rem;
}

.tablebodyrow {
    border-bottom: 1px solid #CCCFD4;
    text-align: left;
    padding: 0.8rem 2.5rem 0.8rem 1rem;
}


.paginate{
    display: flex;  
    padding-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

.rendertable{
    display:flex;
    padding:0.1rem 0;
    gap:12rem; 
    justify-content:start;
    align-items:center
}


@media only screen and (max-width: 1200px) {
    .rendertable{
        padding:0.1rem 0.1rem 0.1rem 0;
        gap:8rem; 
    
     
    }
   
}